/* Reviews section 
General styles */
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
.reviews img {
  padding: 20px;
}
/* Adaptive design */
@media (max-width: 700px) {
  .reviews {
    flex-direction: column;
    align-items: center;
  }
  .reviews img {
    width: 250px;
  }
}

@media (min-width: 700px) {
  .reviews {
    flex-direction: row;
  }
  .reviews img {
    width: 350px;
  }
}

/* Shop now section 
General styles */
.shop-now {
  width: 100%;
  padding: 200px;
  align-items: center;
  text-align: center;
}

.shop-now h2 {
  font-family: var(--font-family-primary);
  color: var(--dark-black-color);
  padding-bottom: 20px;
}

.shop-now p {
  font-family: var(--font-family-secondary);
  color: var(--dark-gray-color);
  padding-bottom: 20px;
}
.shop-now a {
  font-family: var(--font-family-primary);
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
}

.button-shop-now {
  background-color: var(--saturated-blue-color);
  color: var(--main-white-color);
}

.button-shop-now:hover {
  background-color: var(--light-blue-color);
  color: var(--saturated-blue-color);
}
/* Adaptive design */

@media (max-width: 800px) {
  .shop-now {
    padding: 50px;
  }
}

/* Contacts section 
General styles */
.contacts__icon img {
  width: 20px;
}

.contacts {
  background-color: var(--warm-yellow-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  width: 100%;
}

.contacts > div {
  display: flex;
}

.contacts__icon {
  max-width: 40px;
  height: auto;
}
.contacts__text h4 {
  font-family: var(--font-family-primary);
  color: var(--dark-black-color);
}

.contacts__text p {
  font-family: var(--font-family-secondary);
  color: var(--dark-gray-color);
  font-size: 15px;
}
/* Adaptive design */

@media (min-width: 800px) {
  .contacts__text {
    flex: 1;
  }
  .contacts__icon {
    margin-right: 20px;
    align-self: flex-start;
  }
  .contacts > div {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 800px) {
  .contacts {
    flex-direction: column;
    text-align: center;
  }

  .contacts > div {
    display: flex;

    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__icon {
    align-items: center;
    margin-bottom: 20px;
  }
  .contacts__text {
    text-align: center;
  }
  .contacts__text p {
    margin-bottom: 20px;
  }
}
