.reasons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  gap: 50px;
  min-height: 100vh;
}

.reasons__right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
}

.reasons__main-text h2 {
  font-family: var(--font-family-primary);
  color: var(--dark-black-color);
}

.reasons__main-text p {
  font-family: var(--font-family-secondary);
  color: var(--dark-gray-color);
}

.reasons__section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.reasons__section > div {
  display: flex;
  margin-bottom: 20px;
}

.reasons__section-text {
  font-size: 15px;
  font-family: var(--font-family-secondary);
}

.reasons__section-text h4 {
  color: var(--dark-black-color);
}

.reasons__section-text p {
  color: var(--dark-gray-color);
}

.reasons__section-icon {
  max-width: 40px;
  max-height: 40px;
  height: auto;
  margin-right: 20px;
}

/* Adaptive design */
@media (max-width: 1000px) {
  .reasons > img {
    display: none;
  }

  .reasons__right-container {
    max-width: 100%;
    height: auto;
  }

  .reasons__main-text p {
    text-align: justify;
    padding-bottom: 40px;
  }

  .reasons__main-text h2 {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (min-width: 1000px) {
  .reasons > img {
    width: 350px;
    height: auto;
  }

  .reasons__right-container {
    flex: 1;
  }

  .reasons__main-text {
    padding-bottom: 40px;
  }

  .reasons__main-text h2 {
    padding-bottom: 20px;
  }
}
